<div class="welcome d-flex">
  <div class="left-welcome w-50">
    <div class="left-welcome-navbar">
      <div class="d-flex align-items-center p-3">
        <div class="pl-2" style="width: 40%;"> <img style="height:50px;" src="../../../assets/images/logo.png" /></div>
        <div style="width: 60%;" class="d-flex">
          <a class="first-color unstyled-link animated-link p-2 d-block" (click)="smoothScroll('#preorders')">Боксы и цены</a>
          <a class="first-color unstyled-link animated-link p-2 d-block" (click)="smoothScroll('#services')">Услуги</a>
          <a class="first-color unstyled-link animated-link p-2 d-block" (click)="smoothScroll('#addresses')">Контакты</a>
        </div>
      </div>
    </div>

    <div class="left-welcome-main pl-4">
      <h1 style="font-size:50px;" class="first-color"><strong>Ваш личный склад</strong></h1>
      <h5 style="font-weight: 350" class="first-color cpt-3">Храните свои вещи в лёгкой<br />
        доступности в центре города
      </h5>
      <button type="button" class="btn secondary-background-color btn-lg mt-3 first-color" (click)="smoothScroll('#preorders')"> Посмотреть боксы </button>
    </div>

    <div class="left-welcome-icons d-flex ml-4">
      <div>
        <i class="fa fa-lock md-icon second-color"></i>
        <p class="first-color">Высокая <br /> безопасность</p>
      </div>
      <div class="ml-5">
        <i class="fa fa-map-marker md-icon second-color"></i>
        <p class="first-color">Центральное <br /> расположение</p>
      </div>
      <div class="ml-5">
        <i class="fa fa-clock-o md-icon second-color"></i>
        <p class="first-color">Доступ <br /> к вещам 24/7</p>
      </div>
    </div>
  </div>

  <div class="right-welcome w-50">
    <div class="right-welcome-navbar pt-4">
      <div class="d-flex align-items-center justify-content-end pr-4">
        <div>
          <p class="text-white mb-0" style="font-size:23px;font-weight: 300;">+7 (775) 728 61 48</p>
          <p class="text-white text-right mb-0 order-call" (click)="toggleModal('#orderModal')">Заказать звонок</p>
        </div>
        <button type="button" class="es-btn es-second-btn-outline es-btn-color-white ml-4 px-5 py-2" (click)="toggleModal('#orderModal')"> Сдать вещи</button>
      </div>
    </div>

    <div class="right-welcome-popout first-color">
      Арендуйте <br />
      личное хранилище всего от <b>483₸ в день</b>
    </div>

    <div class="right-welcome-boxes">
      <img class="boxes-image" src="../../../assets/images/welcome-boxes.png" />
    </div>
  </div>
</div>

<div class="why-extraspace d-flex mt-5" id="why-extraspace">
  <div class="left-why-extraspace w-50">
    <div class="row">
      <div class="why-image-element col-6" *ngFor="let wi of whyImages">
        <div class="d-flex align-items-center p-3">
          <img [src]="wi.imgPath" alt="img">
          <p class="first-color mb-0 ml-2">{{wi.title}}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="right-why-extraspace w-50 pt-4">
    <p style="color: #253350; font-weight: 700; font-size:39px; line-height: 0.9em">
      Почему клиенты <br /> выбирают Extra Space
    </p>
    <p style="font-weight: 400; font-size:17px" class="pt-3 first-color">
      Наша компания предоставляет высокое качество сервиса. Сотрудники ExtraSpace позаботятся о том, чтобы Ваши вещи
      хранились в надлежих условиях.
    </p>
    <button type="button" class="btn first-background-color px-5 py-1.5 mt-2" (click)="toggleModal('#orderModal')">Арендовать бокс</button>
  </div>
</div>

<div class="services mt-5" id="services">
  <div class="services-mobile p-4"></div>
  <p class="text-center first-color lg-text"> <b>Услуги складского хранения </b></p>
  <p class="text-center first-color">Компания Extra Space предоставляет несколько видов услуг, <br /> которые сделают
    Вашу жизнь легче</p>

  <div class="containe mt-2">
    <div class="service-elements row m-auto">
      <div class="service-element col-6 mb-4"  *ngFor="let service of services;">
        <div class="service-element-view">
          <div class="service-slide-container">

            <div class="service-element-content service-element-content-slide p-4 w-50">
              <p class="service-element-title first-color mb-0"><b>{{service.title}}</b></p>
              <ul class="first-color mt-2">
                <li>{{ service.slideInfo[0] }}</li>
                <li>{{ service.slideInfo[1] }}</li>
                <li>{{ service.slideInfo[2] }}</li>
              </ul>
            </div> 

            <div class="service-element-content p-4 w-50">
              <p class="service-element-title mb-0">{{service.title}}</p>
              <p class="sm-text color-white"> Узнать подробнее &#8594;</p>
              <img [src]="service.img" alt="service">
            </div> 
            
          </div>
        </div>
      </div>

      <div class="service-last-element col-6">
        <div class="service-last-element-content secondary-background-color d-flex flex-column p-4">
          <p class="service-last-element-title first-color mb-0"><b>Переезды под ключ</b></p>
          <ul class="first-color mt-2">
            <li>Специализированные грузовые машины</li>
            <li>Большой ассортимент упаковочных материалов</li>
            <li>Аккуратность сотрудников</li>
          </ul>
          <div class="h-100"></div>
          <div class="m-auto text-center">
            <button class="btn text-white first-background-color py-2 px-5" (click)="toggleModal('#orderModal')">Оставить заявку</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="preorders d-flex mt-5" id="preorders">
  <div class="preorder-view d-flex align-items-center justify-content-center px-4 m-auto">
    <div>
      <img class="w-100" [class.d-none]="activePreorderSize != p.size" *ngFor="let p of preorders" [src]="p.src"
        alt="preorder">
      <p class="md-text mt-2"><b>Xранилище, {{activePreorderSize}}м²</b></p>
      <p class="sm-text"> {{ activeDescription }}</p>
    </div>
  </div>

  <div class="preorder-selection m-auto">
    <div class="d-flex">
      <p class="lg-text first-color" style="line-height: 0.9;"><b>Боксы для хранения вещей</b></p>
      <p class="first-color cursor-pointer p-2 w-25 text-right" (click)="toggleModal('#priceModal')">Таблица цен</p>
    </div>
    <p class="first-color mb-1">Выберите размер бокса</p>
    <div class="size-buttons d-flex">
      <button class="es-btn mr-2 w-25"
        [ngClass]="{'es-second-btn-outline': size.size != activePreorderSize, 'es-second-btn': size.size == activePreorderSize}"
        *ngFor="let size of preorders" (click)="activePreorderSize = size.size; activeSquarePrice = size.squarePrice; activeDescription = size.description">{{size.size}}м²</button>
    </div>

    <div class="month-buttons mt-4">
      <div class="month-row d-flex mt-1" *ngFor="let row of monthRows">
        <button class="es-btn mr-2 w-25"
          [ngClass]="{'es-first-btn-outline': activeMonth != month, 'es-first-btn': activeMonth == month}"
          (click)="activeMonth = month" *ngFor="let month of row.months">{{month}}мес.</button>
      </div>
    </div>

    <div class="preorder-calculator first-color secondary-light-background-color rounded mt-5 mr-2">
      <div class="preorder-calculator-head d-flex p-3">
        <p class="w-50"><b> Стоимость в месяц</b></p>
        <p class="w-50">Площадь: <b>{{activePreorderSize}}м²</b></p>
        <p class="w-50">Цена за м²: <b>{{activeSquarePrice | kztCurrency:'int'}}</b></p>
      </div>
      <div class="preorder-calculator-footer d-flex p-2 px-4">
        <div>
          <p class="md-text"><b>{{(activePreorderSize * activeSquarePrice)|kztCurrency:'int'}}/мес</b></p>
          <p class="sm-text">Итог: <b>{{(activePreorderSize * activeMonth * activeSquarePrice) | kztCurrency:'int'}}</b></p>
        </div>
        <button class="es-btn es-first-btn m-2" (click)="toggleModal('#orderModal')">Заказать</button>
      </div>
    </div>
  </div>
</div>

<div class="care" id="care">
  <div class="services-mobile p-4"></div>
  <p class="text-center first-color lg-text"> <b>Заботимся о Вашем комфорте </b></p>
  <p class="text-center first-color">Команда Extra Space предлагает Вам лучшее соотношение цена/качество <br /> в
    г.Алматы. Мы готовы выслушать пожелания <br> каждого нашего клиента!</p>

  <div id="carouselExampleControls" class="carousel slide mt-3" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" [class.active]="i == 0" *ngFor="let card of careImages; let i = index;">
        <div class="d-flex align-items-center">
          <div *ngFor="let img of card" class="w-25 p-2">
            <div class="d-flex justify-content-center w-100" style="height: 290px; overflow: hidden;text-align: center;">
              <img class="h-100" [src]="img.src" alt="slide">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
  <div class="m-auto d-flex justify-content-center mt-2">
    <div>
      <button class="es-btn es-first-btn rounded-circle px-2 py-1 mx-1" href="#carouselExampleControls" role="button" data-slide="prev">&#8592;</button>
      <button class="es-btn es-first-btn rounded-circle px-2 py-1 mx-1" href="#carouselExampleControls" role="button" data-slide="next">&#8594;</button>
    </div>
  </div>
</div>

<div class="about mt-5" id="about">
  <div class="about-mobile p-4"></div>
  <div class="about-inner secondary-background-color d-flex align-items-center ">
    <div class="left-about text-right mr-5">
      <img src="../../../assets/images/about/logo-big.png" alt="about-main">
    </div>
    <div class="right-about p-5">
      <p class="lg-text first-color"><b>О компании</b></p>
      <p class="first-color">Extra Space - это индивидуальное хранение вещей в новом формате self storage.<br>
        Велосипеды, сноуборды и лыжи, автомобильные шины и колеса, крупногабаритная техника, ставшие ненужными детские
        вещи и игрушки, инструменты для дачи -- для всего этого можно арендовать хранилище у нас. </p>
      <ul class="first-color mt-2">
        <li>Специализированные грузовые машины</li>
        <li>Большой ассортимент упаковочных материалов</li>
        <li>Аккуратность сотрудников</li>
      </ul>
    </div>
  </div>
</div>

<div class="our-clients mt-5" id="our-clients">
  <div class="p-4">
    <p class="lg-text first-color text-center"><b>Наши клиенты</b></p>
    <p class="first-color text-center">Нам доверяют представители различных сфер бизнеса и мы очень ценим их доверие</p>
    <div class="d-flex mt-3">
      <div *ngFor="let client of ourClients" class="d-flex align-items-center justify-content-center w-25 p-2">
        <img [src]="client.src" alt="client" style="height: 100px;">
      </div>
    </div>
  </div>
</div>


<div class="addresses" id="addresses">
  <div class="addresses-mobile p-4"></div>
  <div class="address d-flex">
    <div class="address-left first-background-color p-4">
      <p class="md-text text-white h-50">Алматы, ул.Абиша <br> Кекилбайулы 270, блок 4, <br> ЖК “Mega Towers”</p>
      <div class="row mt-4" >
        <div class="col-6 mb-3">
          <p class="first-color-light">РЕЖИМ РАБОТЫ</p>
          <p class="dark-white-color">Склад: круглосуточно</p>
          <p class="dark-white-color">Офис: пн-пт с 09:00 до 20:00</p>
        </div>

        <div class="col-6 mb-3">
          <p class="first-color-light">ТЕЛЕФОН</p>
          <p class="dark-white-color">+7 (775) 728 61 48</p>
          <p class="dark-white-color">+7 (747) 856 56 62</p>
        </div>

        <div class="col-6 my-3">
          <p class="first-color-light">E-MAIL</p>
          <p class="dark-white-color">example@info.kz</p>
        </div>

        <div class="col-6 my-3">
          <p class="first-color-light">WHATSAPP</p>
          <p class="dark-white-color">+7 (777) 295 00 55</p>
        </div>
      </div>
    </div>
    <div class="address-right">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A941acd588a8f41d333e3ae6e97cf64fa752e3a5c5f246bb49e78782d04a74c61&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
    </div>
  </div>

  <div class="address d-flex mt-2">
    <div class="address-left address-light p-4">
      <p class="md-text first-color h-50">Алматы, Касымова 32, <br> ЖК “Есентай”</p>
      <div class="row mt-4" >
        <div class="col-6 mb-3">
          <p class="first-color-light">РЕЖИМ РАБОТЫ</p>
          <p class="first-color">Склад: круглосуточно</p>
          <p class="first-color">Офис: пн-пт с 09:00 до 20:00</p>
        </div>

        <div class="col-6 mb-3">
          <p class="first-color-light">ТЕЛЕФОН</p>
          <p class="first-color">+7 (775) 728 61 48</p>
          <p class="first-color">+7 (747) 856 56 62 </p>
        </div>

        <div class="col-6 my-3">
          <p class="first-color-light">E-MAIL</p>
          <p class="first-color">example@info.kz</p>
        </div>

        <div class="col-6 my-3">
          <p class="first-color-light">WHATSAPP</p>
          <p class="first-color">+7 (777) 295 00 55</p>
        </div>
      </div>
    </div>
    <div class="address-right">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A5e2e2165f3823a1220eb9e5da065970bed5849e68dcd23af0ab717d6c90a4936&amp;source=constructor"  width="500" height="400" frameborder="0"></iframe>
    </div>
  </div>
</div>

<div class="footer mt-5 d-flex">
  <div class="footer-logo m-5">
    <img src="../../../assets/images/about/logo-big.png" alt="about-main" style="width: 55%;">
  </div>

  <div class="anchors d-flex">
    <div class="col-6 mr-5">
      <p class="m-2 linked-text" (click)="smoothScroll('#why-extraspace')">Преимущества</p>
      <p class="m-2 linked-text" (click)="smoothScroll('#services')">Услуги</p>
      <p class="m-2 linked-text" (click)="smoothScroll('#preorders')">Боксы</p>
      <p class="m-2 linked-text" (click)="smoothScroll('#care')">Галерея</p>
    </div>
    <div class="col-6 mr-5">
      <p class="m-2 linked-text" (click)="smoothScroll('#about')">О нас</p>
      <p class="m-2 linked-text" (click)="smoothScroll('#our-clients')">Клиенты</p>
      <p class="m-2 linked-text" (click)="smoothScroll('#addresses')">Адреса</p>
    </div>
  </div>

  <div class="footer-contacts pl-5">
    <div class="footer-phone d-flex">
      <div class="footer-circle">
        <i class="fa fa-phone text-white mt-2"></i>
      </div>
      <div class="ml-2">
        <p class="first-color"><b>+7(775) 728 61 48</b></p>
        <p class="sm-text linked-text" (click)="toggleModal('#orderModal')">Заказать звонок</p>
      </div>
    </div>
  
    <div class="footer-instagram d-flex mt-3">
      <div class="footer-circle">
        <i class="fa fa-instagram text-white mt-2"></i>
      </div>
      <div class="ml-2">
        <a href="https://www.instagram.com/extraspace.kz/" target="_blank"><b>@extraspace.kz</b></a>
        <p class="sm-text">Мы в Instagram</p>
      </div>
    </div>
  </div>


</div>


<div class="es-modal" id="orderModal">
  <div class="es-modal-dialog es-modal-dialog-right">
    <div class="es-modal-title">
      <span>Заказать звонок</span>
      <button type="button" class="close" aria-label="Close" (click)="toggleModal('#orderModal')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="es-modal-content">
      <div>
        <span class="sm-text">Ваше имя</span>
        <input type="text" class="form-control mt-1" placeholder="Введите имя">
      </div>

      <div class="mt-2">
        <span class="sm-text">Номер телефона</span>
        <input type="text" class="form-control mt-1" prefix="+7 " mask="(000) 000-00-00" showMaskTyped="true">
      </div>

      <div class="mt-2">
        <span class="sm-text">Комментарий (необязательно)</span>
        <textarea class="form-control" placeholder="Введите ваш комментарий"></textarea>
      </div>

      <button class="es-btn es-first-btn w-100 mx-auto d-block mt-3" (click)="changeModal('#thankYouModal')">Заказать звонок</button>
    </div>
  </div>
</div>

<div class="es-modal" id="thankYouModal">
  <div class="es-modal-dialog es-modal-dialog-right">
    <div class="es-modal-title">
      <span>Спасибо за заявку!</span>
      <button type="button" class="close" aria-label="Close" (click)="toggleModal('#thankYouModal')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="es-modal-content">
      <div>
        <span class="sm-text">Ваша заявка находится в обработке. Мы свяжемся с Вами в ближайшее время.</span>
      </div>

      <button class="es-btn es-first-btn w-100 mx-auto d-block mt-3" (click)="toggleModal('#thankYouModal')">Главная</button>
    </div>
  </div>
</div>

<div class="es-modal" id="priceModal">
  <div class="es-price-modal-dialog">
    <div class="es-modal-title">
      <span>Подробный прайс</span>
      <button type="button" class="close" aria-label="Close" (click)="toggleModal('#priceModal')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="es-modal-content">
      <div class="prices-table">
        <table id="prices">
          <tr>
            <th>Аренда склада</th>
            <th>Площадь(м<sup>2</sup>)</th>
            <th>Цена за м<sup>2</sup></th>
            <th>1 мес.</th>
            <th>3 мес.</th>
            <th>6 мес.</th>
            <th>12 мес.</th>
          </tr>
          <tr>
            <td>XXXS</td>
            <td>2,5м<sup>2</sup></td>
            <td>8000</td>
            <td>20 000</td>
            <td>60 000</td>
            <td>120 000</td>
            <td>240 000</td>
          </tr>
          <tr>
            <td>XXS</td>
            <td>3,5м<sup>2</sup></td>
            <td>8000</td>
            <td>28 000</td>
            <td>84 000</td>
            <td>168 000</td>
            <td>336 000</td>
          </tr>
          <tr>
            <td>XS</td>
            <td>4,5м<sup>2</sup></td>
            <td>8000</td>
            <td>36 000</td>
            <td>108 000</td>
            <td>216 000</td>
            <td>432 000</td>
          </tr>
          <tr>
            <td>S</td>
            <td>6м<sup>2</sup></td>
            <td>7500</td>
            <td>45 000</td>
            <td>135 000</td>
            <td>270 000</td>
            <td>540 000</td>
          </tr>
          <tr>
            <td>M</td>
            <td>8м<sup>2</sup></td>
            <td>7000</td>
            <td>56 000</td>
            <td>168 000</td>
            <td>336 000</td>
            <td>672 000</td>
          </tr>
          <tr>
            <td>M+</td>
            <td>10м<sup>2</sup></td>
            <td>6500</td>
            <td>65 000</td>
            <td>195 000</td>
            <td>390 000</td>
            <td>780 000</td>
          </tr>
          <tr>
            <td>L</td>
            <td>12м<sup>2</sup></td>
            <td>6500</td>
            <td>78 000</td>
            <td>234 000</td>
            <td>468 000</td>
            <td>936 000</td>
          </tr>
          <tr>
            <td>XL</td>
            <td>15м<sup>2</sup></td>
            <td>6500</td>
            <td>97 500</td>
            <td>292 500</td>
            <td>585 000</td>
            <td>1 170 000</td>
          </tr>
          <tr>
            <td>XXL</td>
            <td>18м<sup>2</sup></td>
            <td>6500</td>
            <td>117 000</td>
            <td>351 000</td>
            <td>702 000</td>
            <td>1 404 000</td>
          </tr>
          <tr>
            <td>XXXL</td>
            <td>22м<sup>2</sup></td>
            <td>6500</td>
            <td>143 000</td>
            <td>429 000</td>
            <td>858 000</td>
            <td>1 716 000</td>
          </tr>
          
        </table>
      </div>

      <div class="abbreviated-prices d-flex">
        <div class="cloud-prices w-50">
          <p class="sm-text first-color mt-5">Прайс облачных хранилищ:</p>
          <p class="sm-text">1-3м<sup>3</sup> - 6000тг/м<sup>3</sup>; 4м<sup>3</sup> - 5500тг/м<sup>3</sup></p>
          <p class="sm-text">5-7м<sup>3</sup> - 5000тг/м<sup>3</sup>; 8м3 - 4500тг/м<sup>3</sup></p>
          <p class="sm-text">9-22м<sup>3</sup> - 4000тг/м<sup>3</sup></p>
        </div>

        <div class="legal-person-prices w-50">
          <p class="sm-text first-color mt-5">Прайс для юр лиц:</p>
          <p class="sm-text">1-5м<sup>3</sup> - 9000тг/м<sup>3</sup>; 6м<sup>3</sup> - 8500тг/м<sup>3</sup></p>
          <p class="sm-text">7-10м<sup>3</sup> - 8000тг/м<sup>3</sup>; 11м3 - 7500тг/м<sup>3</sup></p>
          <p class="sm-text">15м<sup>3</sup>+ - 6500тг/м<sup>3</sup></p>
        </div>
      </div>

        
    </div>
  </div>
</div>