.left-welcome-main {
    padding-top: 25%;
}

.left-welcome-icons {
    padding-top: 25%;
}

.height-300{
    min-height: 300px;
}

/* .unstyled-link{
    color: inherit;
} */

.unstyled-link:hover{
    /* text-decoration: none; */
    color: inherit;
}

.right-welcome {
    border-bottom-left-radius:35%;
    background-image: url("../../../assets/images/welcome-boxes-background.png");
}

img.boxes-image {
    width: 100%;
}

.right-welcome-popout {
    background: white;
    width: 200px;
    margin: auto;
    padding: 8px 15px;
    border-radius: 13px;
    margin-top: 70px;
    transform: translate(-20px, 00px);
}

.left-why-extraspace {
    border-top-right-radius:70px;
    border-bottom-right-radius:70px;
    background-image: url("../../../assets/images/why-background.png");
}

.right-why-extraspace {
    padding-left: 5%;
}

.right-why-extraspace button {
    color: white; 
    font-weight: 400;
    font-size: 16px;
}

.why-image-element img{
    width: 60px;
}

.why-image-element p{
    font-size: 15px;
}

.service-elements{
    width: 90%;
}

.service-element{
    overflow: hidden;
}

.service-element-view{
    border-radius: 39px;
    overflow: hidden;
}

.service-element-content {
    background-image: url("../../../assets/images/services-background.png");
    height: 280px;
    overflow: hidden;
}

.service-element-content:hover .service-element-add-info{
    margin-left: 1.5rem;
}

.service-element-content > img{
    height: 150%;
}

.service-element-content-slide{
    /*background-image: url("../../../assets/images/why-background.png");*/
    background-image: none;
    background-color: var(--second-color);
}

.service-slide-container{
    width: 200%; 
    display: flex;
    transform: translateX(-50%);
    transition: 0.3s;
}

.service-slide-container:hover{
    transform: translateX(0%);
    cursor: pointer;
}


.service-element-title{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

.service-element-add-info{
    transition: 0.3s;
}


.service-element:nth-of-type(1) img, .service-element:nth-of-type(3) img{
    transform: translate(100%, -0%);
}

.service-element:nth-of-type(2) img{
    transform: translate(25%, -0%);
}

.service-last-element-content{
    border-radius: 39px;
    height: 280px;
    
}

.service-last-element-title{
    text-transform: uppercase;
    font-size: 25px;
}

.service-last-element-content > ul{
    list-style: square;
    font-size: 14px;
}

.left-about {
    width: 40%;
}

.right-about {
    width: 60%;
}

.preorder-view {
    height: 500px;
    width: 40%;
}

.preorder-selection{
    width: 55%;
}

.preorder-calculator-head{
    border-bottom: 2px solid var(--second-color);
}

.preorder-calculator-footer > div{
    width: 65%;
}

.preorder-calculator-footer > button{
    width: 35%;
}


/* .about-inner {
    background-image: url("../../../assets/images/about/about-main.png");
} */

.address-light {
    background-color: #f5e9d1;
}

.order-call {
    margin-top:-7px; 
    font-size:12px;
}

.order-call:hover {
    text-decoration: underline;
    cursor: pointer;
}