:root{
    --first-color: #253350;
    --first-color-light: #444f64;
    --second-color: #E7CF9F;
    --second-color-light: #f3e2bf;
}

@font-face {
    font-family: inter;
    src: url(/assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    font-family: inter;
    background-color: #e5e5e5;
    padding-bottom: 100px;
}


p{
    margin-bottom: 0;
}

.first-background-color {
    background-color: var(--first-color);
}

.first-color {
    color: var(--first-color);
}

.secondary-background-color {
    background-color: var(--second-color);
}

.secondary-light-background-color {
    background-color: var(--second-color-light);
}

.second-color {
    color: var(--second-color);
}

.md-icon{
    font-size: 40px!important;
}

.lg-text{
    font-size: 40px;
}

.md-text{
    font-size: 25px;
}

.sm-text{
    font-size: 13px;
}

