:root{
    --first-color: #253350;
    --first-color-light: #9299a7;
    --second-color: #E7CF9F;
    --second-color-light: #f3e2bf;

    --dark-white: #e9ecf5;
    --light-gray: #a7a7a7;

    --lg-text: 40px;
    --md-text: 25px;
    --sm-text: 13px;
}

@font-face {
    font-family: inter;
    src: url(/assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    font-family: inter;
    background-color: #e5e5e5;
    /* background-image: url("assets/images/background.png"); */
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--first-color);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--first-color);
  }


a, .linked-text{
    color: var(--first-color);
}

a:hover, .linked-text:hover{
    color: #616e89;
    text-decoration: none;
    cursor: pointer;
}

p{
    margin-bottom: 0;
}

.color-white{
    color: white;
}

.cursor-pointer{
    cursor: pointer;
}

.first-background-color {
    background-color: var(--first-color);
}

.first-color {
    color: var(--first-color)!important;
}

.first-color-light {
    color: var(--first-color-light);
}

.secondary-background-color {
    background-color: var(--second-color);
}

.secondary-light-background-color {
    background-color: var(--second-color-light);
}

.second-color {
    color: var(--second-color);
}

.dark-white-color{
    color: var(--dark-white);
}

.md-icon{
    font-size: 40px!important;
}

.lg-text{
    font-size: var(--lg-text);
}

.md-text{
    font-size: var(--md-text);
}

.sm-text{
    font-size: var(--sm-text);
}


.animated-link{
    transition: background-color 0.3s;
    cursor: pointer;
}

.animated-link:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.footer-contacts > p {
    font-size: 21px;
    /* color:var(--first-color); */
}

.footer-circle {
    background-color: var(--first-color);
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    text-align: center;
}

.footer-circle > i {
    font-size: 30px;
}