.es-table > tbody > tr > td,
.es-table > thead > tr > th {
    color: var(--first-color);
    font-weight: 500;
    border: 1px solid #ddd;
    padding: 8px;
}
  
.es-table > tbody > tr:nth-child(even){background-color: #f2f2f2;}
  
.es-table > tbody > tr:hover {background-color: #ddd;}
  
.es-table > thead > tr > th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--second-color);
}

